<ul class="nav nav-list">
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    {% for section in site.sections %}
        {% assign attr = section[0] %}
        {% assign label = section[1] %}

        {% assign sorted_pages = site.categories[attr] | sort: 'order' %} 
        {% for sp in sorted_pages %}
            {% if forloop.first %}
                <li class=nav-header>{{ label }}</li>
            {% endif %}
            {% if sp.url == page.url %}
            <li data-order="{{ sp.order }}"><a class="navlinkselected" href="{{ site.baseurl }}{{ sp.url }}">{{ sp.title }}</a></li>
            {% else %}
            <li data-order="{{ sp.order }}"><a href="{{ site.baseurl }}{{ sp.url }}">{{ sp.title }}</a></li>
            {% endif %}
        {% endfor %}
        
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class=divider></li> first to break up the content. -->
</ul>
