<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.salesforce.marketingcloud.learningapp">

    <!-- FINE_LOCATION is required for Geofence and Proximity messaging features.-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- ACCESS_BACKGROUND_LOCATION is required for Geofence and Proximity messaging features on Q devices. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- Boot complete is needed so that the SDK can re-register Geofences and Proximity beacons after a reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".LearningApplication"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="${appName}${appNameSuffix}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/MyTheme.DayNight"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <nav-graph android:value="@navigation/nav_graph"/>
        </activity>
    </application>

</manifest>