<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.salesforce.marketingcloud.android.demoapp" >

    <!-- Permissions have been *drastically* simplified with the 01 release
         For the purporse of illustrating the transition, I've left the old
         permissions in place, but commented out below the 01 release
         permsissions.
    -->

    <!-- ##### Begin 2016-01 Release Required Permissions ##### -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- ##### End 2016-01 Release Required Permissions ##### -->
    <!-- ##### Begin 2016-01 Release functional Application node -->
    <application
        android:name="com.salesforce.marketingcloud.android.demoapp.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.MainActivity"
            android:label="@string/app_name" />

        <activity-alias
            android:name="com.salesforce.marketingcloud.android.demoapp.LaunchActivity"
            android:targetActivity="com.salesforce.marketingcloud.android.demoapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.exacttarget.etpushsdk.ETLandingPagePresenter"
            android:label="Landing Page" />

        <!-- ETPushReceiver and Service -->
        <receiver
            android:name="com.exacttarget.etpushsdk.ETPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="${applicationId}.MESSAGE_OPENED" />
                <action android:name="com.exacttarget.etpushsdk.SEND_REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.exacttarget.etpushsdk.ETPushService"
            android:enabled="true" />
        <!-- END ETPushReceiver and Service -->


        <!-- ETLocationReceiver and Service -->
        <receiver android:name="com.exacttarget.etpushsdk.ETLocationReceiver" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.exacttarget.etpushsdk.ETLocationService"
            android:enabled="true" />
        <!-- END ETLocationReceiver and Service -->

        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.SettingsActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.CloudPageActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:parentActivityName=".MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>

        <activity
            android:name=".OriginalDocsActivity"
            android:parentActivityName=".OriginalDocsActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.OriginalDocsActivity" />
        </activity>

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    <!-- ##### End 2016-01 Release functional Application node -->

    <!-- ##### Prior Release functional Permissions and Application Node -->
    <!--
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.salesforce.marketingcloud.android.demoapp.ApplicationClass"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_label"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.MainActivity"
            android:label="@string/app_name" />

        <activity-alias
            android:name="com.salesforce.marketingcloud.android.demoapp.LaunchActivity"
            android:targetActivity="com.salesforce.marketingcloud.android.demoapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.exacttarget.etpushsdk.ETLandingPagePresenter"
            android:label="Landing Page" />

        <receiver
            android:name="com.exacttarget.etpushsdk.ETPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="${applicationId}.MESSAGE_OPENED" />
                <action android:name="com.exacttarget.etpushsdk.SEND_REGISTRATION" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.exacttarget.etpushsdk.ETPushService"
            android:enabled="true" />

        <receiver android:name="com.exacttarget.etpushsdk.ETLocationReceiver" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.exacttarget.etpushsdk.ETLocationService"
            android:enabled="true" />

        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.SettingsActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>
        <activity
            android:name="com.salesforce.marketingcloud.android.demoapp.CloudPageActivity"
            android:parentActivityName="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.CloudPageInboxActivity" />
        </activity>
        <activity
            android:name=".MapsActivity"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.MainActivity" />
        </activity>

        <activity
            android:name=".OriginalDocsActivity"
            android:parentActivityName=".OriginalDocsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.salesforce.marketingcloud.android.demoapp.OriginalDocsActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
    -->
    <!-- ##### END Prior Release functional Permissions and Application Node -->

</manifest>
