
#### Version {{ page.version }}

{% assign day = page.date | date: "%-d"  %}
{% capture day_str %}
    {% case day %}
    {% when '1' or '21' or '31' %}{{ day }}st
    {% when '2' or '22' %}{{ day }}nd
    {% when '3' or '23' %}{{ day }}rd
    {% else %}{{ day }}th
    {% endcase %}
{% endcapture %}

_Released {{ page.date | date: "%B" }} {{ day_str | strip }}, correlating with the Marketing Cloud {{ page.mc_release }} release._

{% capture version_note %}
Version {{ page.version }} of the Android SDK has been tested with{% if page.firebase_messaging %} Firebase Messaging version {{ page.firebase_messaging }},{% endif %} Google Play Location Services version {{ page.gps_version }}, and AltBeacon Library version {{ page.alt_beacon_version }}.  The minimum compatible Android API version is {{ page.min_sdk }}, and the SDK was compiled with Android API version {{ page.compile_sdk }}. {% if page.java_version %}The SDK depends on Java version {{ page.java_version }}.{% endif %}
{% endcapture %}
> {{ version_note | strip_newline }}

{{ content }}